
body {
    height: 100%;
    font-size: 1rem;
    font-family: 'Cairo', sans-serif;
}

.gradient {
    background: rgb(16,184,128);
background: linear-gradient(129deg, rgba(16,184,128,1) 0%, rgba(21,58,103,1) 59%);
}

.page-header {
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
}

.top-image {
    margin-left: 1.5rem;
    margin-top: -4rem;
}
